@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body {
  background: #000;
  color: #fff;
  font-family: Inter, system-ui, arial;
}

@media (prefers-reduced-motion: reduce) {
  canvas {
    display: none !important;
  }
}
